.main-footer{
    padding-top:20px;
    background-color: #333;
}
.row{
    .footer-title{
        color:#dddddd;
    }
    .footer-content{
        p{
            color: #dddddd;
        }
        ul{
            padding:0;
           
        }
    img{
        width: 236px;

    }
    }
    
}