#header {
    background-color: #333;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
    .header-section {
        #logo-brand{
            margin: 20px auto;
        }
        display: grid;
        column-gap: 10px;
        grid-template-columns: auto auto auto;
        top: 0;
        right: 0;
        left: 0;
        // justify-content: space-around;
        // align-items: center;

        .menu {
flex-grow: 1;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            text-transform: uppercase;
            margin: 0;
            border: none;
            max-width: 960px;
            font-size: 12px;

            .down {
                font-size: 10px;
                transform: translateX(-10px);
                position: absolute;
            }


            li:hover {
                background: #cbb2b2;
            }


            li {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100px;
                &:hover .subnav {
                    display: block;
                }
                .subnav {
                    position: absolute;
                    background: #333;
                    display: none;
                    padding-left: 0;
                    top: 98%;

                    transform: translateX(38px);
                    z-index: 99;
                    li {
                        color: #dddddd;
                        border-bottom: 1px solid #ddd;

                        &:hover {
                            border-bottom: 1px solid #000000;
                        }
                    }

                    &:hover>ul.subnav1 {
                        display: block;
                    }

                    .subnav {
                        position: absolute;

                    }
                }

                a {
                    &:hover>.subnav {
                        display: block;
                    }
                    font-size: 12px;
                    padding : 20px;
                }
            }
        }

        .option {
            display: none;
            img {
                height: 30px;
                filter: brightness(0) invert(2);
                -webkit-filter: brightness(0) invert(1);
            }

            display: none;
        }
    }

    .search-bar {
        display: flex;
        align-items: center;

        input {
            border: 4px;
        }

        .search {
            padding: 20px;
            padding-right: 20px;
            cursor: pointer;
            font-size: 20px;

            &:hover {
                background: #e46124;
            }
        }
    }

    .icon {
        font-size: 32px;
        padding: 0px 20px;
        color: #ddd;
    }

}

.hstack {
    display: flex;
    align-items: center;
    width: 140px;
    position: relative;


    .vr {
        position: absolute;
        left: 17px;
        width: 1.5px;
        background-color: rgba(255, 255, 255, 0.2);
        height: 20px;
    }
}