* {
    box-sizing: border-box;
    margin    : 0;
    padding   : 0;
}

* a,
li {
    text-decoration: none !important;
    color          : #ddd;
    cursor         : pointer;
    list-style     : none;
}
a:hover{
    color:inherit;
}
.mystyle {
    color: #333;
}

  
.loading{
    height: 257px;
    .spinner-border{
        width: 100px;
        height: 100px;
    }
}
#main{
    margin-top:70px;
    min-height: 370px;
}
@media screen and (max-width:1100px) {
    #header {
        background-color: red;
        .header-section {
            height: 60px;
            
            .menu {
                display: none!important;
            }

            .option {
                display: block!important;

                .menu {
                    z-index   : 1;
                    position  : absolute;
                    background: #333;
                    top       : 60px;
                    transform : translateX(-40px);
                    display: none!important;
                    .subnav {
                        display: none;
                        top : 154px;
                        left: 91px;

                        .subnav {
                            top : 154px;
                            left: 100px;
                        }
                    }
                }
            }
        }

    }
}


.show-product {
    height: 100%;
}