* {
    box-sizing: border-box;
    margin    : 0;
    padding   : 0;
}

* a,
li {
    text-decoration: none !important;
    color          : #ddd;
    cursor         : pointer;
    list-style     : none;
}
.mystyle {
    color: #333;
}

#box-contact {
    background-color: rgba($color: #ddd, $alpha: 0.4);
    top             : 0;
    left            : 0;
    bottom          : 0;
    right           : 0;
    position        : fixed;
    display         : flex;
    align-items     : center;
    justify-content : center;
    z-index         : 99;

    .card-contact {
        border-radius: 8px;
        background   : #333;

        form {
            .header-contact {
                display        : flex;
                justify-content: space-between;

                .btn {}
            }

            padding: 40px;
        }
    }
}





#img-bg {

    background: url("../../assets/images/img1.webp") no-repeat;
    height    : 100%;
}

#footer {
    height     : 100%;
    border-top : 1px solid #ddd;
    padding-top: 20px;
    top        : 0;
    bottom     : 0;
    display    : block;

    .contact {
        padding-bottom: 30px;
        text-align    : center;

        h2 {
            padding: 20px;
        }
    }

    .contact-child {
        display        : flex;
        justify-content: space-around;
        padding-bottom : 100px;

        .link {
            display   : block;
            width     : 13%;
            text-align: start;

            a {
                display: block;
                padding: 0.3em;
                color  : #333;
            }

            i {
                padding-right: 10px;

            }
        }

        .form {
            .row {
                .col {
                    float  : left;
                    padding: 0 0px 12px 8px;
                }

                .col-half {
                    width: 50%;
                }

                .col-full {
                    width: 100%;

                    input {
                        width: 100%;
                    }

                }
            }

            .btn-submit {
                background: #ddd;
                padding   : 8px 12px;
                float     : right;
                border    : none;
            }
        }
    }
}

@media screen and (max-width:1100px) {
    #header {
        background-color: red;
        .header-section {
            height: 60px;
            
            .menu {
                display: none!important;
            }

            .option {
                display: block!important;

                .menu {
                    z-index   : 1;
                    position  : absolute;
                    background: #333;
                    top       : 60px;
                    transform : translateX(-40px);
                    display: none!important;
                    .subnav {
                        display: none;
                        top : 154px;
                        left: 91px;

                        .subnav {
                            top : 154px;
                            left: 100px;
                        }
                    }
                }
            }
        }

    }
}


.show-product {
    height: 100%;
}